html {
  box-sizing: border-box;
  font-size: 10px;
  background: #8E24AA;
  background: linear-gradient(45deg, $42A5f5 0%, $478ed1 50%, #0d47a1 100%);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: monospace;
}

.display_time-left {}

.timer {
  display:flex;
  min-height:100vh;
  flex-direction:column;
}

.timer_controls {
  display:flex;
}

.timer_controls > * {
  flex:1;
}

.timer_controls form {
  flex:1;
  display:flex;
}
.timer_controls input {
  flex:1;
  border:0;
  padding: 2rem;
}
.timer_button {
  background:none;
  border:0;
  cursor: pointer;
  color:white;
  font-size: 2rem;
  text-transform: uppercase;
  background:rgba(0,0,0,0.1);
  border-bottom:3px solid rgba(0,0,0,0.2);
  border-right:1px solid rgba(0,0,0,0.2);
  padding:1rem;
  font-family: 'Inconsolata', monospace;
}

.timer_button:hover,
.timer_button:focus {
  background:rgba(0,0,0,0.2);
  outline:0;
}

.display {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.display_end-time {
  font-size: 4rem;
  color: white;
}
