html {
  color:black;
  font-family: sans-serif;
}

h1 {
  text-shadow: 10px 10px 3px rgba(0, 0, 0, .7);
  font-size: 100px;
  text-align: center;
}

.hero {
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  color:black;
}
